@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://fonts.google.com/share?selection.family=Noto%20Emoji%7CNoto%20Sans:ital,wght@0,300;1,300%7CNoto%20Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans:ital,wght@0,300;1,300&family=Noto+Serif&display=swap');

@font-face {
  font-family: 'Simonetta-Black';
  src: url('/fonts/Simonetta-Black.ttf');
}

@font-face {
  font-family: 'Simonetta';
  src: url('/fonts/Simonetta-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans Light';
  src: url('/fonts/NotoSans-Light.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--text);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

@layer components {
  html,
  body {
    @apply text-text dark:text-text-dark bg-background dark:bg-background-dark;
  }

  a {
    @apply text-inherit no-underline hover:underline;
  }

  ::selection {
    @apply bg-accent dark:bg-accent-dark text-white;
  }
}
