@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'hljs.css';

@font-face {
  font-family: 'Simonetta-Black';
  src: url('/fonts/Simonetta-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Simonetta';
  src: url('/fonts/Simonetta-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 100 900;
  src: url('/fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Emoji';
  font-weight: 100 900;
  src: url('/fonts/NotoEmoji-VariableFont_wght.ttf');
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

@layer components {
  body {
    @apply text-text dark:text-text-dark bg-background dark:bg-background-dark;
  }

  h1 {
    @apply text-6xl lg:text-7xl mb-0 mt-0 font-simonetta;
  }

  h2 {
    @apply text-5xl lg:text-6xl mb-2 mt-10 font-noto;
  }

  h3 {
    @apply text-4xl lg:text-4xl mb-1 mt-8 font-noto;
  }

  h4 {
    @apply text-3xl lg:text-3xl mb-0 mt-5 font-noto;
  }

  a {
    @apply text-inherit hover:text-primary focus:text-primary underline hover:underline focus:underline duration-300 ease-out;
  }

  p {
    @apply my-4;
  }

  /* This overwrites certain styling of Paragraphs to enable us to style blockquotes.*/
  article blockquote p {
    @apply my-0 font-noto w-full !important;
    max-width: 100% !important;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    @apply no-underline;
  }

  ::selection {
    @apply bg-accent dark:bg-accent-dark text-white;
  }

  .hover-shadow:hover {
    @apply shadow-[3px_4px_0px_0px_rgba(0,0,0,0.3)] shadow-primary dark:shadow-primary-dark;
  }

  pre {
    @apply bg-surface dark:bg-surface-dark p-1;
  }

  ol,
  ul {
    @apply my-4;
  }
}
