@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://fonts.google.com/share?selection.family=Noto%20Emoji%7CNoto%20Sans:ital,wght@0,300;1,300%7CNoto%20Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji&family=Noto+Sans:ital,wght@0,300;1,300&family=Noto+Serif&display=swap');

@font-face {
  font-family: 'Simonetta-Black';
  src: url('/fonts/Simonetta-Black.ttf');
}

@font-face {
  font-family: 'Simonetta';
  src: url('/fonts/Simonetta-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans Light';
  src: url('/fonts/NotoSans-Light.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('/fonts/NotoSerif-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: var(--text);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

@layer components {
  html,
  body {
    @apply text-text dark:text-text-dark bg-background dark:bg-background-dark;
  }

  h1 {
    @apply text-6xl lg:text-7xl mb-0 mt-8 font-simonetta;
  }

  h2 {
    @apply text-5xl lg:text-6xl mb-2 mt-7 font-noto;
  }

  h3 {
    @apply text-4xl lg:text-5xl mb-1 mt-6 font-noto;
  }

  h4 {
    @apply text-3xl lg:text-4xl mb-0 mt-5 font-noto;
  }

  a {
    @apply text-inherit hover:text-primary focus:text-primary underline hover:underline focus:underline duration-300 ease-out;
  }

  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a {
    @apply no-underline;
  }

  ::selection {
    @apply bg-accent dark:bg-accent-dark text-white;
  }
}
