/* HLJS theme, using specific color values. */

.hljs {
  color: #364149;
  background: #fefefe;
}

.hljs-comment,
.hljs-quote {
  color: #6e767c;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #ed0000;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #777800;
}

.hljs-literal {
  color: #008a00;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #d700b5;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #7810f2;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #008800;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #5a00d7;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/* Dark Code Theme */
@media (prefers-color-scheme: dark) {
  .hljs {
    color: #d3dadf;
    background: #22272a;
  }

  .hljs-comment,
  .hljs-quote {
    color: #93999d;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #f4564f;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #ab980e;
  }

  .hljs-literal {
    color: #4aa712;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta .hljs-string {
    color: #d465c2;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #aa6ff9;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #17a24c;
  }

  .hljs-built_in,
  .hljs-title.class_,
  .hljs-class .hljs-title {
    color: #aa6ff9;
  }
}

.hljs {
  display: block;
  background-color: var(--surface);
}

pre {
  overflow-x: auto;
  background-color: var(--surface);
  padding: 0.5rem;
  border: var(--border);
}
